{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur l'Intranetdu GUC{% endblock %}

{% block main_page %}

    {% import 'macros/bouton.html.twig' as control %}

    <div class="container">

        <div class="col">
            <h4>{{ app.user.Prenom ~ ' ' ~ app.user.nom ~ ' (' ~ (app.user.username) ~ ')' }} , Bienvenue sur l'Intranet</h4>
        </div>


{#
// ***********************************************************************************
// Affichage des intranet propres aux différentes sections
// ***********************************************************************************
#}

        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_PUB') %}
            <div class="col">
                <h5>Intranet publication des contenus</h5>
            </div>

            <div class="col">

                {{  control.bouton(
                    ' Publications page d\'accueil',
                    url('blog_admin_index'),
                    '',
                    'btn-block btn-outline-primary',
                    '')
                }}

            </div>
        {% endif %}

        <div class="col">
            <h5>Pour vous déconnecter :</h5>
        </div>

        <div class="col">
            {{  control.bouton(
                ' Déconnexion',
                url('deconnexion'),
                '',
                'btn-outline-primary btn-block',
                '')
            }}
        </div>
    </div>

{% endblock %}
