@import "variables";
@import "client";

.cookiebanner {
  z-index: 1100!important;
}

.color-body {
  background-color: #eee;
}

.footer {
  background-color: #D6FF5B;
}

.bg-green-c118 {
  background-color: #D6FF5B;
}

.bg-yellow-c118 {
  background-color: #F5ED5E;
}

.bg-red-c118 {
  background-color: #EB595C;
}

.bg-blue-c118 {
  background-color: #396FF5;
}

.fg-green-c118 {
  color: #D6FF5B!important;
}

.fg-yellow-c118 {
  color: #F5ED5E!important;
}

.fg-red-c118 {
  color: #EB595C!important;
}

.fg-blue-c118 {
  color: #396FF5!important;
}
